
main {
  & > div:first-child {
    position: relative;
    width: $full;
    height:$progressHeight;
    & > div:first-child {
      position: fixed;
      width: $full;
      z-index: 3;
    }
  }
}
ol {
  counter-reset: item;
  list-style-type: none;
  li {
    float: left;
    font-size: 65%;
    &:before {
    content: counter(item) "  ";
    counter-increment: item;
    }
  } 
}
.progressList {
  background-color: $praymaryColor;
  height:$progressHeight;
  padding: 0;
  position: relative;
  word-break: break-all;
  margin-top: 0px;
  margin-bottom: 0;
  &>div {
  height: $full;
  width: (100/3) * 1%;
  display: inline;
  float: left;
  position: relative;
  text-align: center;
  &:first-child{
    color: white;
    background-color: $secondaryColor;
    // clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    // -moz-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    @include shape($clipPathFirst);

    }//firstChild
  }//div
  
  i,SVG {
    height: 1em; 
    text-align: center;
    vertical-align:middle;
  }//li
  li{
    position:absolute;
    @include verticalHorizontalCenter;
    list-style-position: inside;
    font-size: 60%;
    padding-left: 1em;
    display: none;
  }
}//progressList

main > section {
  width: $full -($marginSection*2);
  margin:0 $marginSection;
  box-sizing: border-box;
  color:darken($praymaryColor,50%) ; 
  &:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: $gutter * 2;
  }
  
}
#page1> section{
  &:first-child {
    @extend %flexColumn;
  }
}
.pict{
  text-align: center;
  // &>img:first-of-type,div:first-of-type{
  //   display: none;
  // }
  &>div:first-of-type{
    display: none;
  }
  .img1{
    display:none;
  }
  .img2{

    width: 50%;
  }
}
.invalid{
  
  border-color: #e90606 !important;
  outline: none;
}
label.invalid,.invalidLabel{
  color:#e90606 !important;
}
label.invalid{
  font-size: .8em;
    font-weight: bolder;
    //line-height: 1;
}
[name="confirm"]{
  height: 0;
  
  
  // &+label{
  //   position: absolute;
  //   top:100%;
  // }
  
}
label{
  margin-bottom: 0rem;
}
form {
  width: $full;
  // @extend %flexColumn;
  &>p{
    margin-top: $gutter;
    font-size:large;
    &:first-child{
      @include p;
    }
  }
  fieldset>div>span{
    width:100%;
  }
  fieldset>div,fieldset>span,fieldset>p,div>span{
    text-align: start;
    margin-top: .9rem;
  }
  fieldset>p{
    margin-bottom: 0;
  }
 &>div{ 
  & > span,.grid>span,fieldset>div,fieldset>span,fieldset>div>span {
    text-align: start;
    margin-top: .9rem;
  }}
  &>hr{
   @include mainHr;
  }
  label > label {
    font-weight: 600;
    font-family: $additionalFont;
    display: inline-block;
  }
}//form

[name="title"][type="radio"] {
  background-color: $praymaryColor;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px $praymaryColor inset;
  &:before {
     content: "";
    display: block;
    width: 70%;
    height: 70%;
    margin: 14% auto;
    border-radius: 50%;
  }//:bafore
  &:checked:before {
  background: $additionalColor;
  box-shadow: 0 0 5px 0px $additionalColor inset;
  }
}//[type="radio"]

[type="text"],select,[type="tel"]{
  border: $border;
  border-radius: 2px;
  height: 30px;
  width: $full;
  font-size: .9em;
  color:darken($praymaryColor,40%);
  box-sizing: border-box;
  &:focus{
    outline:none;
    color: darken($praymaryColor,40%);
    border:1px solid darken($praymaryColor,20%);
  }
  &:placeholder-shown{
    font-size: .9em;
  color:darken($praymaryColor,40%);
  background-color:lighten($praymaryColor,5%) ;
  }
}
.subText{
  font-size:.8em;
  color:darken($praymaryColor,20%);
  display:block;
}
.IBAN {
  display: block;
}
[type="radio"] + img {
  height: 1.5em;
  border-radius: 50%;
  margin: 0px 2px;
  //box-shadow: 0px 0px 1px 1px $praymaryColor;
  border: 2px solid white;
}
[type="radio"]:checked + img {
  border: 2px solid $additionalColor;
  box-shadow: none;
}
input[type="button"] {
  display: block;
  border-radius: 2px;
  background-color: $additionalColor;
  color: white;
  border: none;
  height: 2.8em;
  width: 7em;
  margin-top: $gutter;
  font-size: 65%;
  font-weight: 600;
  letter-spacing: .5px;
}
.card2 [type="button"]
{
  background-color:#c50606;
  width:9em;
}


.labelConfirm {
  // display: flex;
  // justify-content: space-between;
  position: relative;
  cursor: pointer;
  //margin-bottom: 6%;
  &>span:first-child{
    //width: 70%;
    //margin-top:$gutter;
    font-size: .9em;
  }
  &>span:last-child{
   width: 43px;
  height: 22px;
  border-radius: 60px;
  background-color: lighten($additionalColor,10%);
  transition: 0.5s;
  display: block;
  &:before{
    content: " ";
    position: absolute;
    //right:21px;
    width: 23px;
    height: 23px;
    box-shadow: 0px 0px 1px 1px $praymaryColor;
    background: darken($additionalColor,20%);
    border: 4px solid white;
    border-radius: 50%;
    transition: 0.2s;
    }
  }//last-child

  & :checked ~ span {
    background-color: darken($additionalColor,20%);
  &:before{
    transform: translatex(22px);
  }
}
  .invalidLabel{
    margin-bottom:1.2em ;
    &~label{
      top:75%;
      position: absolute;
    }
  }
}//labelConfirm

button {
  padding: unset;
  height: 28px;
 // width: 100px;
  border-radius: 2px;
  border: none;
  position: relative;
  font-size: 75%;
}

.continue {
  position: relative;
  
  text-align:center;
 box-sizing: border-box;
  padding-top: .9%;
  height: 2.5em;
    width: 6em;
    font-size: 80%;
  border-radius: 5%;
  background-color: $additionalColor;
  color: white;
}
.previous {
  background-color: white;
  color: black;
  font-size: .8em;
}


 @keyframes spinnerTrensform {
   0% { transform: translate(-50%,-50%) rotate(0deg); }
   100% { transform: translate(-50%,-50%) rotate(360deg); }
 }
 .spinner::before {
   content: "";
   display: none;
   position: absolute;
   width: 1em;
   height: 1em;
   border: 2px solid white;
   border-top-color: transparent;
   border-radius: 50%;
   animation: spinnerTrensform 1s linear infinite;
   top:50%;
   left:10px;
 }
 .spinner {
   width: 30%;
   height:30%;
   display: inline;
 }
 .continue:active{
   //padding-left:1.5em;
   width:7em;
   text-align:right;
   padding-right:.5%;
   &>.spinner::before{
    display: block;
   }
 }
.display-none{
  display: none  !important;
}
.cardHover{
  color:white;
  background-color:$additionalColor;
}
.hr{
  border:none;
  border-bottom:1px solid$praymaryColor;
  width: $full;
}

