.pictPage2{
    display: block;
    position:sticky;
    top:4.2em;
  }
  fieldset{
    &:last-of-type{
        border-bottom: none;
    }
    &>div{
        display: flex;
        justify-content:space-between;
        //column-gap: 2%;
    }
  }
  .regHR:last-of-type{
      display: none;
  }
  .display-block{
      display: block;
  }

.Paragraph{
    width:80%;
}
.fontSize-small{
    font-size: .9em;
}
