  html{
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: $praymaryFont;
    //width: $fullscreenWidth;
    //@extend %flexColumn;
  } //body
  img {
    object-fit: contain;
    margin: auto;
  }
  header {
    height:$headerHeight;
    width: $full;
    margin: 0px auto;
    position: relative;
    
    & > div{
      height:$headerHeight;
      position: fixed;
      width: 100%;
      background-color: white;
      z-index: 3;
    &:nth-of-type(1){
      nav{
      @include grid(1fr 1.2fr 0.5fr 0.5fr);
      position: relative;
      @include verticalCenter;
      margin-inline:2%;
      img{
        width:40%;
      }
    }
    }
    &:nth-of-type(2) {
     display:none;
     
    }
  }
  } //header
main{
    padding-bottom: $gutter;
    width: $full;
    @extend %flexColumn;
    position: relative;

    display:none !important;
    &:target{
    display:initial !important;
    display:block !important;
    display:"";
    
    &~.defualt{
        display:none !important;
        &~footer{
          display:initial;
        }
    }
  }
}
.defualt{
    display:initial !important;
    display:block !important;
    &~footer{
      display:none;
    }

}
#page0:target ~ footer{
  display:none;
}
#page0{
  background-image: url('../assets/select_card_intro.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: $backgroundImageSize;
  padding-top: $backgroundImageSize * (2/5);
  &>*{
    text-align:center;
    img{
      width: 80%;
    }
    ul{
       text-align:start;
       margin-left: 20%;
       padding: 0;
    }
    h2{
      text-transform: uppercase;
      .right{
        border-color:black;
        border-width: 0 2px 2px 0;
        height: 6px;
        width: 6px;
      }
    }
   
  }
   p{
      padding-inline:6%;
      
    }
   &>h1{
      font-weight: normal;
      span{
        font-weight: bold;
      }
  }
  &>hr{
    @include mainHr;
    padding-inline: 0;
    margin-block: 1em;
  }
}
.top{
  border: 1px solid white;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-block: 45%;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  border-color: black !important;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow {
  border: 1px solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
}
footer {
    height: 80vh;
    background-color: $praymaryColor;
    // @extend %flexColumn;
    font-weight: bold;
    &>div:first-child{
      background-color: $additionalColor;
      color: white;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      font-family: $secondaryFont;
      font-size: small;
      padding-bottom: $gutter;
      box-sizing: border-box;
      // @extend %flexColumn;
      & > div {
        padding-top: 1%;
        font-size: 1.2em;
      }
      & > span {
        font-size: 1.4em;
      }
      img{
        width: 1.75em;
        vertical-align: middle;
        margin: 0.3% auto;
      }//img
      .number{
        font-family: $additionalFont;
        font-size: larger;
        font-weight: bolder;
      }
      .b-cWhite {
        background-color: white;
        color: $additionalColor;
        padding: 0px 0px;
        font-weight: bolder;
        text-transform: lowercase;
        height: fit-content;
      }
    }//div:first-child
    &>div:nth-child(2){
      // @extend %flexColumn;
      width: 75%;
      margin: 0px auto;
      height: 70%;
      text-align: center;
      img{ 
        width: 70%;
        max-width: 16em;
        margin-bottom: 0;
      }//img
      div:first-child{
          margin-block: $gutter;
          line-height: 1.3;
          span{
            font-size: 1.18em;
          } 
      }
    }//div:child 2
  }//footer
  b {
    font-weight: bold;
  }
  em {
    font-family: $anotherFont;
    font-weight: lighter;
  }
  h3,
  h5 {
    margin: auto auto;
    font-family: $additionalFont;
  }
  h3 {
    margin-block: $gutter;
    line-height: 1.3;
    font-weight: 900;
  }

  .up{
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 50%;
    display: block;
    position: sticky;
    top: 85%;
    left: 86%;
    box-shadow: 0px 0px 3px 3px $praymaryColor;
    text-align: center;
    }

.up,#page1:target~ .p0,#page2:target~ .p0,#page3:target~ .p0{
  display:none !important; 
}
.defualt~ .p0{
  display:block !important;
}
  #page1:target~ .p1{
    display:block !important;
  }
  #page2:target~ .p2{
    display:block !important;
  }
  #page3:target~ .p3{
    display:block !important;
  }
  .rounded-lg{
    border-radius:1.3em;
  }

  
  #sponershipModal .modal-dialog{
    max-width: 550px;
  }
  
  .sponsership{
    
     &>div>div{
       width:5em;
      left:50%;
      top:3.2em;
      transform: translateX(-50%);
     }
     button{
       height: 2.8em;
       width: 6em
     }
  }
  .countdownDate{
    height:2em;
    width:2em;
    font-size:larger ;
    
  }
  option{
    height: 30px;
    
  }
   .dropdown-toggle::after{
    position: relative;
    right: 1.4em;
    top: -50%;
    transform: translateY(50%);
  }
  .bootstrap-select{
    padding-left: 15px;
  }
  .bootstrap-select>.dropdown-toggle{
    padding-right: 0 !important;
  }
  .dropdown-toggle,.dropdown-toggle:hover
  ,.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    border: 1px solid #e6e3e3;
    border-radius: 2px;
    height: 30px;
    width: 100%;
    font-size: .9em;
    color: #867777;
    box-sizing: border-box;
    background-color:white;
   // padding-left: 5px;
   
  }
  .bootstrap-select .dropdown-toggle:focus{
    outline-color:white !important;
  }
  .dropdown-menu{
    font: size 0.9em;
  }
.dropdown-menu > li > a:hover {
  //text-decoration: none;
  //color: ;
  color: #848282;
  background-color: var(--warning);
}
.dropdown-menu > li > a:focus{
  
  color: #848282;
  background-color:lighten(#ffc107,20%);
}
.dropdown-item{
    padding-right:0;
    padding-left: 5px;
    
  }
  .dropdown-toggle{
    padding-left: 2px;
  }